{% load static tailwind_tags %}
{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Django Tailwind</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% compress css %}
        <link
            rel="stylesheet"
            href="{% static 'theme/css/dist/styles.css' %}"
        />
        {% endcompress %}
        <script src="{% static 'node_modules/flowbite/dist/flowbite.min.js' %}"></script>
        {% tailwind_css %}
    </head>

    <body class="bg-neutral-100 flex justify-center items-center h-screen font-serif leading-normal tracking-normal">

        {% block content %}
        
        {% endblock content %}

        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    </body>
</html>
