{% extends "layouts/_base.html" %}

<!-- tailwind_filter is need to use crispy tailwind -->
{% load tailwind_filters %}

{% block content %}

    <div class="flex items-center justify-center text-center min-h-screen bg-gray-100 dark:bg-gray-900">
        <div class="w-full max-w-md p-8 px-14 bg-white border border-gray-200 rounded-3xl shadow-lg dark:bg-gray-800 dark:border-gray-700">
            <h5 class="mb-4 text-3xl font-bold text-gray-900 dark:text-white">Django Starter</h5>
            <p class="mb-6 text-base text-gray-500 sm:text-lg dark:text-gray-400">Everything is set up and ready to go.</p>
        </div>
    </div>

{% endblock content %}